.controll-access-contenedor{
    height: 100vh;
    width: 100%;
    position: relative;
}




.controll-access-empresa-cliente-logo{
    width: 100px;
    height: auto;
    
}




.controll-access-easy-socio-logo{
    width: 100px;
    height: auto;
    position: absolute;
    top: 2%;
    left: 2%;
}
