.controll-access-contenedor{
    height: 100vh;
    width: 100%;
    position: relative;
}

.controll-access-input-celular{
    line-height: 1.7;
    font-family: $font-secondary;
    font-weight: bold;
    font-size: 40px !important;
    background-color: transparent;
    border: solid  3px transparent;  
    padding: 10px;    
    width: 100%;
    border-radius:4px;
    border-color: $color-grey0;
    color:$color-grey1;
}

.controll-access-input-celular::placeholder{
    color:$color-grey0;
  }

    .controll-access-input-celular:focus {    
        box-shadow: none !important;
        outline: 0 none !important;
        border-color:$color-grey0;
        border: solid  4px transparent;  
    }



.controll-access-empresa-cliente-logo{
    width: 100px;
    height: auto;
    
}

.controll-access-easy-socio-logo{
    width: 100px;
    height: auto;
    position: absolute;
    top: 2%;
    left: 2%;
}
