 .contiene-auth-y-sucursal{
  @include flexbox;
  @include align-items(flex-end);
  @include flex-direction(row); 
 }

    .navigation-auth-contenedor{
      padding: 8px;
      color: $Color-texto-gris-Mercadolibre;
      font-size: 10px;
      letter-spacing: 1.2px;  
    }


    .contiene-sucursal{
      padding: 8px;
      color: $Color-texto-gris-Mercadolibre;
      font-size: 10px;
      cursor: pointer;
      margin-right: 15px;
    }

    

     

     .sucursal-nombre{       
       font-weight: bold;
     }
