.contiene-mensaje-empresa-top{
	background-color: $color-grey-2;
	margin-bottom: 15px;
	color:$color-gris-text;
	width: 100%;
    padding: 20px;
    border-radius:4px;
    margin: 30px 0;
    position: relative;
}


.linea-de-aviso-individual{
	    width: 100%;
    margin-top: 5px;
    font-size: 12px;
    padding: 0 6px;
    line-height: 2;
}