








 .recuadro-validacion-pendiente{
  padding:8px;
  text-align: center;
  line-height: 2;
  background-color:$Color-Amarill-warning;
  color: $color-negro-para-textos;
  font-size: 10px;
  border-radius: 6px;
  font-weight: bold;
}