

.contiene-saldo{
  padding: 8px;
  border-radius:8px;
  margin-top: 20px;
  @include flexbox;       
  @include flex-direction(row);
  @include align-items(center); 
  width: 100%;
  cursor: pointer;
}

  .saldo-aclaracion{
    font-size: 10px;
    color: $color-gris-text;
    text-align: center;    
    width: 60%;
    margin-right: 10px;
  }

  .saldo-valor{
    font-size: 14px;
    text-align: center;
    padding:8px;
    border-radius:8px;
    background-color: white;
    color:$color-verde-texto-success ;
  }


  .contiene-buscar-entre-fechas{
    width:100%;
    @include flexbox;       
    @include flex-direction(row);
    @include align-items(center); 
    @include justify-content(space-around);
    @include flex-wrap(wrap); 
    
    margin-bottom:10px;
    border:solid 1px $color-grey0;
  }

    .fecha_input_caja_busqueda{
      width:70%;
      max-width:300px;
      margin-bottom:10px;
    }

    .fechas-buscar-texto{
      margin-bottom:10px;  
      color: $Color-texto-gris-Mercadolibre;
      font-size: 12px;
      text-align: left;
      width:100%;

    }



  .contiene-buscar-entre-fechas-texto{
    width:100%;
    padding:10px;
    margin-top:10px;
    margin-bottom:10px;
    text-align:center;
    border:solid 1px $color-3;
    color:$color-3;
    cursor:pointer;
  }



  .saldo-modal{
    font-size: 22px;
    color:$Color-texto-gris-Mercadolibre;
  }

     

     .saldo-modal-valor{      
      color:$color-verde-texto-success;      
      width: 100%;
      
     }



