//contiene listado de socios de resultados de busqueda
.listado-socios-contenedor-lista{
    width: 100%;
    @include flexbox;       
    @include flex-direction(row);
    @include align-items(flex-start); 
    @include flex-wrap(wrap); 
    @include justify-content(space-around); 
}


 .listado-socios-contenedor-individual{
   width: 100%;
   padding: 4px;
   border-radius: 4px;
   background-color:$Color-Gris-CasiBlanco ;
   margin-top: 2px;
   @include flexbox;       
   @include flex-direction(column);
   @include align-items(flex-start); 
   border:solid 2px transparent;
 }
 .listado-socios-contenedor-individual:hover{
  background-color: white;
  border-color:$color-3;
 }


  .listado-socios-sub-contenedor-name-estado{
    @include flexbox;       
    @include flex-direction(row);
    @include align-items(center); 
    width: 100%;
    @include justify-content(space-between); 
    margin-bottom: 3px;
    border-bottom:solid 1px $Color-Gris-Claro;
  }




    .listado-socios-name{
      font-weight: bold;
      font-size: 16px;
      width: 70%;
      @include flexbox;       
      @include flex-direction(row);
      @include align-items(center);
    }

       .listado-socios-sub-name-email{
        @include flexbox;       
        @include flex-direction(column);
        @include align-items(flex-start); 

       }

      .listado-socios-sub-name-email__email{
        color:$Color-texto-gris-Mercadolibre;
        margin-top: 3px;
        font-size: 10px;
      }

       .listado-socio-icono{
        font-size: 30px;
        color: $Color-Gris-Claro ;
        margin-right: 5px;
       }


  .listado-socios-sub-contenedor-datos{
    @include flexbox;       
    @include flex-direction(row);
    @include align-items(center); 
    @include flex-wrap(wrap); 
    @include justify-content(space-around); 
    padding: 3px;
    border-radius: 4px;   
    font-size: 10px;
    color: $Color-texto-gris-Mercadolibre;
    width: 100%;
  }

   .listado-socios-datos{
    margin-top: 1px;
    width: 49%;
    padding:4px;    
    background-color: $Color-Gris-Claro;
    overflow: hidden;
    text-align: center;
    border-radius:8px;
   }

   .listado-socio-contiene-los-hay{
    @include flexbox;       
    @include flex-direction(row);
    @include align-items(flex-start); 
    width: 100%;
    padding:4px;
    margin-top: 3px;
   }

   .listado-socio-tiene-mensual{
    padding: 2px;
    border-radius:8px;
    font-size: 11px;
    text-align: center;
    background-color: $Color-info;   
    color: white;    
    width: 49%;
    margin-left:1%; 
    cursor:pointer;
   }

   .listado-socio-tiene-clases{    
    padding: 2px;
    border-radius:8px;
    font-size: 11px;
    text-align: center;
    background-color: $Color-clase;    
    color: white;
    width: 49%;
    margin-right:1%; 
    cursor:pointer;
   }

   .listado-socio-no-tiene{
    padding: 2px;
    border-radius:8px;
    font-size: 11px;
    text-align: center;      
    color:$Color-texto-gris-Mercadolibre;
    width: 49%;
    margin-right:1%; 
    cursor:pointer;
   }


     .listado-socio-contiene-clases-o-mensuales{

      background-color:white;
      margin-top: 3px;
      padding:5px 0; 
      color:black;
      border-radius:8px;
     }


        .listado-socio-lista-servicio-disponible{
          padding: 3px 3px; 
          @include flexbox;       
          @include flex-direction(row);
          @include align-items(center); 
          @include justify-content(space-between); 
          width: 100%;
        }
        .listado-socio-lista-servicio-disponible:hover{
          background-color: $Color-Gris-Claro;
        }

          .listado-socio-lista-servicio-disponible-servicio{
            font-size: 10px;
            color: $color-verde-texto-success;
            width: 80%;
            text-align: left;
          }

          .listado-socio-lista-servicio-disponible-accion{
            font-size: 14px;            
            width: 20%;
            text-align: center;
          }


  















 @media (min-width: $BrackPoint-Secundario){

   .listado-socios-contenedor-individual{
    width: 50%;
   }



 }



  @media (min-width: $BrackPoint-Tercer){

   .listado-socios-contenedor-individual{
    width: 33%;
    padding: 8px;
   }


  
 }



  @media (min-width: $BrackPoint-Cuarto){


   .listado-socios-contenedor-individual{
    width: 25%;
   }

  
 }