
//mensaje de inicio de la app en la home
.empresa-gestion-texto-gris-grande-de-aviso{
  font-size: 25px;
  width: 100%;
  padding: 25px;
  border-radius:8px;
  color: $color-grey1;
  letter-spacing: 1.5px;
  margin-bottom: 25px;
  text-align: center;
}


.empresa-gestion-barra-top-boton-y-forma-busqueda{

  width: 100%;
  @include flexbox;       
  @include flex-direction(row);
  @include align-items(center); 
  padding: 10px;
  border-radius: 4px;
  @include justify-content(space-between);

}



.empresa-gestion-contiene-input-busqueda{
  width: 60%;
}

 .empresa-gestion-input-busqueda{
      height: 50px;
      font-size: 18px;
 }







 .empresa-gestion-listado-contenedor{
  padding:6px;
  border-radius:6px;
  margin-top: 4px;
  width: 100%;
  @include flexbox;       
  @include flex-direction(row);
  @include align-items(center); 

 }
 .empresa-gestion-listado-contenedor:hover{
  background-color: $Color-Gris-Claro;
 }



 /* diseño de las secciones en general para toda la app */
 .empresa-contendor-de-secciones{
    padding:6px;
    @include flexbox;       
    @include flex-direction(column);
    @include align-items(flex-start); 
    margin-top: 20px;
    width: 100%;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0,0,0,.26);
    background-color: #fff;
 }





    .empresa-titulo-de-secciones,.contenedor-grupo-datos-titulo{
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 5px;
      margin-left: 7px;
    }

   