 .contiene-auth-y-sucursal{
  @include flexbox;
  @include align-items(flex-end);
  @include flex-direction(column); 
 }

    .navigation-auth-contenedor{
      padding: 8px;
      color: $Color-texto-gris-Mercadolibre;
      font-size: 10px;
      letter-spacing: 1.2px;  
    }