
.contiene-ingreso-de-caja-opciones{
  margin-top: 5px;
  width: 100%;
  @include flexbox;       
  @include flex-direction(row);
  @include align-items(center); 
  @include flex-wrap(wrap); 
  @include justify-content(space-around); 
  padding: 6px;

}

  .contiene-ingreso-opciones{
    padding: 18px 8px;
    text-align: center;
    border: solid 1px transparent;
    width: 49%;
    margin-top: 5px;
    color: $color-gris-text;
    cursor:pointer;
    border-radius:6px;
  }

  .contiene-ingreso-opciones-duedor{
    border-color: $color-verde-texto-success;
    color: $color-verde-texto-success;
  }

  .contiene-ingreso-opciones-acredor{
    border-color:$Color-Rojo-Texto-Error;
    color: $Color-Rojo-Texto-Error;
  }
  .contiene-ingreso-opciones:hover{
    background-color:$color-grey-2 ;
    font-weight: bold;
  }


   .contiene-fase-2-ingreso-de-caja{
    width: 100%;
    @include flexbox;       
    @include flex-direction(column);
    @include align-items(center); 
  }

    .contiene-fase-2-moneda{
      @include flexbox;       
      @include flex-direction(row);
      @include align-items(center); 
      @include justify-content(space-around); 
      width: 100%;
      margin-bottom: 6px;

    }

       .contiene-opcion-moneda{
        @include flexbox;       
        @include flex-direction(row);
        @include align-items(center); 
       }

         .moneda-label{
          margin: 0 0 0 5px;
         }


        .ingresar-input-valor{
          padding:25px;
          width: 50%;
          text-align: center;
          font-size: 35px;
          color:$color-gris-text;   
          border:solid 1px transparent;  
          border-bottom:solid 3px $color-3;
          margin-bottom: 25px;
          margin-top: 10px;
          border-radius:6px;
        }


        .ingreso-caja-aviso{
          font-size: 12px;
          margin-bottom:15px;
          color:$color-gris-text;
          padding:3px;

        }


        .ingreso-caja-cancelar-la-operacion{
          color:$color-gris-text;
          text-align: center;
          font-size: 10px;
          margin: 10px 0 20px 0;
        }