.contiene-mensaje-empresa-top{
	background-color: $Color-Gris-CasiBlanco;
	margin-bottom: 15px;
	color:$color-gris-text;
	width: 100%;
    padding: 20px;
    border-radius:4px;
    margin: 30px 0;
    position: relative;


}