.contiene-ingreso-de-caja-opciones{
  margin-top: 5px;
  width: 100%;
  @include flexbox;       
  @include flex-direction(row);
  @include align-items(center); 
  @include flex-wrap(wrap); 
  @include justify-content(space-around); 
  padding: 6px;

}

  .contiene-ingreso-opciones{
    padding: 18px 8px;
    text-align: center;
    border: solid 1px transparent;
    width: 49%;
    margin-top: 5px;
    color: $color-gris-text;
    cursor:pointer;
    border-radius:6px;
  }

  .contiene-ingreso-opciones-duedor{
    border-color: $color-verde-texto-success;
    color: $color-verde-texto-success;
  }

  .contiene-ingreso-opciones-acredor{
    border-color:$Color-Errors-BG;
    color: $Color-Errors-BG;
  }
  .contiene-ingreso-opciones:hover{
    background-color:$color-gris-background ;
    font-weight: bold;
  }