.contiene-ingreso-de-caja-opciones{
  margin-top: 5px;
  width: 100%;
  @include flexbox;       
  @include flex-direction(row);
  @include align-items(center); 
  @include flex-wrap(wrap); 
  @include justify-content(space-around); 
  padding: 6px;

}

  .contiene-ingreso-opciones{
    padding: 8px;
    text-align: center;
    border: solid 1px transparent;
    width: 49%;
    margin-top: 5px;
    color: $color-gris-text;
  }
  .contiene-ingreso-opciones:hover{
    background-color:$color-gris-background ;
    font-weight: bold;
  }