.contiene-lista-caja{
  width: 100%;
  @include flexbox;       
  @include flex-direction(column);
  @include align-items(center); 
  margin-bottom: 3px;
}

   .sub-contiene-lista-caja{
    border-radius:6px;
    padding: 4px;
    border:solid 1px transparent;
    width: 70%;
    color:$color-gris-text;
   }

    .sub-contiene-lista-caja-deudor{
      @include align-self(flex-start); 
      border-color:$color-verde-texto-success;
     }

    .sub-contiene-lista-caja-acredor{
      @include align-self(flex-end);
      border-color:$Color-Errors-BG;
     }

  .contiene-fase-2-ingreso-de-caja{
    width: 100%;
    @include flexbox;       
    @include flex-direction(column);
    @include align-items(center); 
  }

    .contiene-fase-2-moneda{
      @include flexbox;       
      @include flex-direction(row);
      @include align-items(center); 
      @include justify-content(space-around); 
      width: 100%;
      margin-bottom: 6px;

    }

       .contiene-opcion-moneda{
        @include flexbox;       
        @include flex-direction(row);
        @include align-items(center); 
       }

         .moneda-label{
          margin: 0 0 0 5px;
         }


        .ingresar-input-valor{
          padding:25px;
          width: 50%;
          text-align: center;
          font-size: 35px;
          color:$color-gris-text;   
          border:solid 1px transparent;  
          border-bottom:solid 3px $color-3;
        }


        .ingreso-caja-aviso{
          font-size: 8px;
          margin-bottom:5px;
          color:$color-gris-text;
          padding:3px;

        }


        .ingreso-caja-cancelar-la-operacion{
          color:$color-gris-text;
          text-align: center;
          font-size: 10px;
          margin: 10px 0 20px 0;
        }