/* --- H E A D E R --- */

.admin-header{
  width: 100%;  
  padding: 0 6px; 
  @include flexbox;
  @include align-items(center);
  @include flex-direction(row); 
  border:solid 1px transparent;
  font-family: $font-primary;
  
}  

  

  .admi-header-titulo{
    font-size: 16px;
    color: $Color-texto-gris-Mercadolibre;
    margin-left: 5px; 
  }


/* --- C O N T E N E D O R  d e  C O L U M N A  y  C O N T E N T --- */

.admin-contiene-columna-y-content{  
  width: 100%;
  @include flexbox;
  @include align-items(flex-start);
  @include flex-direction(row);
  @include justify-content(space-between);
  margin: 0 auto;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  font-family: $font-primary;
 
}

  .admin-contiene-content{
    width: 80%;    
    @include flexbox;
    @include align-items(center);
    @include flex-direction(column);  
    padding:4px;
  }

    .admin-contiene-content-wraper{
      width: 95%;    
      @include flexbox;
      @include align-items(center);
      @include flex-direction(column); 
      padding:8px;
      border-radius:4px;
      
    }


.contiene-miga-y-auth{
  width: 100%;
  @include flexbox;
  @include align-items(flex-start);
  @include flex-direction(row);
  @include justify-content(space-between);
  margin-bottom: 20px;

}
  .admin-contnedor-navegacion-miga{    
    padding:8px;    
    font-size: 12px;
    
  }
    .spam-separador{
      margin: 0 2px;  
    }



   




/* * * * * * * * * * * * * * * * * * * * * * * * * *
 *    N A V I G A T I O N   S L I D E   B A R (Admin)*
 *        (la "columna" de la izquierda)            *
 * * * * * * * * * * * * * * * * * * * * * * * * * */
 // columna
 .admin-columna-contenedor{
  width: 20%;  
  background-color: $Color-Gris-CasiBlanco;
  @include flexbox;
  @include align-items(center);
  @include flex-direction(column);   
  min-height: 100vh;
  position: fixed;  
}

.admin-columna-wraper{

  width: 80%; 
  
  @include flexbox;
  @include align-items(center);
  @include flex-direction(column);

}

.admin-logo-contendor{
  width:100%;
  height:90px;
  padding:10px;
  @include flexbox;
  @include align-items(center);
  @include flex-direction(row);   
  @include justify-content(space-around); 
}

.easy-text{
  color:$color-3;
  font-weight:bold;
  font-size:18px;
  font-family:arial;
}


// logo o isologo de la marca
.admin-header-logo{
    width: 50px;
    margin:35px 3px;
  }


.columna-lista-texto{
  font-size:10px;
  margin-top:3px;
}












@media (min-width: $BrackPoint-Secundario){



}