.admin-user-boton-Crear {
  @include Boton-base;
  font-size: 14px;
  color: $color-white;
  background-color: $color-3;
  border-color: darken($color-3, 10%);
}
.admin-user-boton-Crear:hover {
  background-color: lighten($color-3, 5%);
  color: $color-white;
}

.admin-user-lista-contenedor {
  padding: 4px;
  border-radius: 4px;
  background-color: $color-grey-2;
  border: solid 1px$color-grey0;
  margin-top: 3px;
  width: 300px;
  @include flexbox;
  @include align-items(center);
  @include flex-direction(row);
  @include justify-content(space-between);
}

.admin-user-lista-icono {
  font-size: 20px;
  color: $color-gris-text;
  padding: 3px;
  min-width: 30px;
  text-align: center;
}

.admin-user-contenedor-datos {
  width: 270px;
  @include flexbox;
  @include align-items(center);
  @include flex-direction(row);
  @include justify-content(space-between);
  padding: 4px;
  border-left: solid 1px $color-grey0;
}

.admin-user-name-y-mas {
  @include flexbox;
  @include align-items(flex-start);
  @include flex-direction(column);
}

.admin-lista-dato-primario {
  font-size: 13px;
  padding: 1px;
  border-bottom: solid 1px $color-grey0;
  font-weight: bold;
}

.admin-lista-dato-secundario {
  font-size: 10px;
  padding: 1px;
  color: $color-gris-text;
}

.admin-user-lista-contenedor-acciones {
}

.boton-acciones-editar {
  @include Boton-base;
  font-size: 14px;
  color: $color-white;
  background-color: $color-3;
  border-color: darken($color-3, 10%);
}
.boton-acciones-editar:hover {
  background-color: lighten($color-3, 5%);
  color: $color-white;
}
