.flex-row-center{
  @include flexbox;       
  @include flex-direction(row);
  @include align-items(center); 
}

.flex-row-start{
  @include flexbox;       
  @include flex-direction(row);
  @include align-items(flex-start); 
}

.flex-row-column{
  @include flexbox;       
  @include flex-direction(column);
  @include align-items(center); 
}

.flex-column-start{
  @include flexbox;       
  @include flex-direction(column);
  @include align-items(flex-start); 
}

.flex-column-end{
  @include flexbox;       
  @include flex-direction(column);
  @include align-items(flex-end); 
}

.flex-justifice-space-around{
  @include justify-content(space-around);
}

.flex-justifice-space-between{
  @include justify-content(space-between);
}

.flex-wrap{
  @include flex-wrap(wrap); 
}

.align-self-end{
  @include align-self(flex-end); 
}



/* CLASES DE TAMAÑO */
.get_width_10{
width: 10%;
}

.get_width_20{
width: 20%;
} 

.get_width_30{
width: 30%;
}

.get_width_40{
width: 40%;
}

.get_width_50{
width: 50%;
}

.get_width_60{
width: 60%;
}

.get_width_70{
width: 70%;
}

.get_width_80{
width: 80%;
}

.get_width_90{
width: 90%;
}

.get_width_100{
width: 100%;
}

.get_height_100{
height: auto;
}

.get_height_100{
  height:100%;
}



/* CLASES DE COLOR DE FONDO */
.BackgroundPrimary{
  background-color: $color-3; 
}
.BackgroundGris{
  background-color: $color-gris-background; 
}













/* CLASES DE TEXTO */


.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-bold{
  font-weight: bold;
}
.text-color-primary{
  color: $color-3;
}

.text-color-black{
  color: $color-negro-para-textos;
}

.text-pequeno{
  font-size: 8px;
}

.helper-aumenta-texto{
  font-size:1.2em;
}

.helper-reduce-texto{
  font-size:0.7em;
}

.espacio-letras{
  letter-spacing: 2px;
  font-family: arial;
  margin-bottom: 8px;
}

.espacio-letras-chico{
  letter-spacing: 1px;
  font-family: arial;
  margin-bottom: 8px;
}

/* colores personalizados */
.color-text-gris{
  color: $color-gris-text;
}

/* colores personalizados */
.color-text-white{
  color: white;
}

/*color-texto-verde-success*/
.color-text-success{
  color:$color-verde-texto-success;
}

.color-text-danger{
  color:$Color-Rojo-Texto-Error;
}



.font-primary{
  font-family:$font-primary;
}

.font-secondary{
  font-family:$font-secondary;
}


.font-size-h1{

}

.font-size-h2{

}







/* clases para mostrar o no */
.no-mostrar{
  display:none;
}


/*simula un link*/
.simula_link{
  cursor:pointer;
  color:  $color-3;
}

.simula_link:hover{
  color:$color-3-primary_hover;
}

.helper_cursor_pointer{
  cursor:pointer;
}

.margin-top-2px{
  margin-top: 2px;
}

.margin-top-2px{
  margin-top: 2px;
}

.margin-left-4px{
  margin-left: 4px;
}

.margin-left-8px{
  margin-left: 8px;
}

.margin-right-4px{
  margin-right:  4px;
}

.padding-4px{
  padding:4px;
}


//Loader Spiner
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #c0c0c0;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #c0c0c0;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #c0c0c0;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}