.contiene_auth{
	padding:10px;
	border-radius:8px;
	margin-top:30px;
	background-color: $color-grey0;
	width:100%;
}


.contiene_auth_form{
 width:80%;
}



@media (min-width: $BrackPoint-Primario){


	.contiene_auth_form{
	 width:70%;
    }
}





@media (min-width: $BrackPoint-Secundario){
	.contiene_auth_form{
	 width:60%;
    }
}




@media (min-width: $BrackPoint-Tercer){

	.contiene_auth_form{
	 width:40%;
    }
}