@import "resources/assets/sass/Secciones_y_Helpers/Helpers/Helper_colores_y_fuentes";
@import "resources/assets/sass/Plugins/bootstrap/bootstrap";
@import "resources/assets/sass/Secciones_y_Helpers/Helpers/Helpers___mixer";







/* C l a s e s   g e n e r a l e s   d e l   p a n e l   a d m i n */
@import "resources/assets/sass/Admin/formularios/formulario_estilos";
@import "resources/assets/sass/Admin/Home_Entidades/layoute_general";


/* L a y o u t   d e   l o s   p a n e l e s   d e   e m p r e s a   g e s t i ó n */
@import "resources/assets/sass/Modulos/empresa_gestion_general";
@import "resources/assets/sass/Modulos/empresa_gestion_listado_socios";
@import "resources/assets/sass/Modulos/empresa_gestion_formularios";
@import "resources/assets/sass/Modulos/empresa_gestion_panel_spcio"; 
@import "resources/assets/sass/Modulos/empresa_gestion_tipo_servicio"; 
@import "resources/assets/sass/Modulos/empresa_gestion_servicios_socios";   
@import "resources/assets/sass/Modulos/empresa_gestion_estado_de_cuenta";  
@import "resources/assets/sass/Modulos/empresa_gestion_panel_socio_user_listado";  
@import "resources/assets/sass/Modulos/empresa_gestion_empresa_lista";
@import "resources/assets/sass/Modulos/empresa_gestion_empresa_lista_modo_user";
@import "resources/assets/sass/Modulos/empresa_gestion_auth_y_sucursal_nav";  
@import "resources/assets/sass/Modulos/empresa_gestion_caja_saldo"; 
@import "resources/assets/sass/Modulos/empresa_gestion_empresa_cambiar_contraseña"; 
@import "resources/assets/sass/Modulos/empresa_gestion_caja_lista";
@import "resources/assets/sass/Modulos/empresa_gestion_ingreso_caja"; 
@import "resources/assets/sass/Modulos/empresa_gestion_modal_general";  
@import "resources/assets/sass/Modulos/empresa_gestion_mensajes_errores";
@import "resources/assets/sass/Modulos/empresa_gestion_panel_socio_lista_vista_lista"; 
@import "resources/assets/sass/Modulos/empresa_gestion_panel_socio_se_renueva_automaticamente";   
@import "resources/assets/sass/Modulos/empresa_gestion_empresa_configuracion"; 
@import "resources/assets/sass/Modulos/empresa_gestion_empresa_crear_empresa_modal"; 
@import "resources/assets/sass/Modulos/empresa_gestion_avisos_atencion";  
@import "resources/assets/sass/Modulos/empresa_gestion_atencion_al_cleinte"; 










