/* B o r d e s */

.border-radius-estandar{
  border-radius:$Border-radius;
}

.borde-gris{
  border:solid 1px $color-grey1;
}

.borde-bottom-gris{
  border-bottom:solid 1px $color-grey1;
}

.borde-primary{
  border:solid 1px $color-3;
}