/* B o r d e s */

.border-radius-estandar {
  border-radius: $Border-radius;
}

.borde-gris {
  border: solid 1px $color-grey1;
}

.borde-bottom-gris {
  border-bottom: solid 1px $color-grey1;
}

.borde-primary {
  border: solid 1px $color-3;
}

.border-hover-gris-0 {
  border: solid 2px transparent;
}

.border-hover-gris-0:hover {
  border-color: $color-grey0;
}
